.Test {
	transition: background-color 1000ms ease-in-out;
	background-color: white;
}

.entering {
	background-color: white;	
}

.entered {
	background-color: purple;
}


.exiting {
	background-color: white;
}

.exited {
	background-color: white;
}